.btn {
  color: white;
  background-color: var(--color-red);
  width: 80%;
  height: 2.5rem;
  font-weight: bold;
}

.btn__container {
  width: 100%;
  display: flex;
  justify-content: center;
  margin-top: auto;
  margin-bottom: 1rem;
}

@media (max-width: 800px) {
  .btn__container {
    justify-content: start;
    margin-top: 1rem;
  }
}
