.cooperation {
  width: 100%;
  display: flex;
  justify-content: center;
  padding-top: 5rem;
  padding-bottom: 4rem;
}

.cooperation__container {
  max-width: 1290px;
  margin-top: 3rem;
  margin-bottom: 3rem;
}
