.cooperation {
  width: 100%;
  display: flex;
  justify-content: center;
  scroll-margin-top: 8rem;
}

.cooperation__container {
  max-width: 1290px;
  width: 90%;
  margin-top: 3rem;
  margin-bottom: 3rem;
}

@media (max-width: 1300px) {
  .cooperation__heading {
    text-align: center;
  }
}
