.nav {
  position: fixed;
  z-index: 100;
  background-color: black;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
  height: 8rem;
}

.nav__logo {
  padding: 1rem;
  width: 11rem;
  margin-left: 5rem;
  /* height: 2rem; */
  /* position: relative; */
}

.nav__list {
  display: flex;
  flex: 7;
  justify-content: flex-end;
  height: 6rem;
  align-self: flex-start;
}

.nav__link {
  margin-right: 1rem;
  padding-left: 1rem;
  padding-right: 1rem;
  display: flex;
  align-items: flex-end;
  padding-bottom: 1rem;
  opacity: 1;
  transition: 0.5s ease-in-out;
}

.nav__link:hover {
  background-color: var(--color-red);
  opacity: 1;
}

.nav__linkText {
  color: white;
  font-size: 1.2rem;
  font-weight: 500;
  border-bottom: 2px solid white;
  padding-bottom: 3px;
  transition: 0.2s ease-in-out;
}

.nav__linkText:hover {
  padding-bottom: 15px;
}

.nav__socialMediaIcon {
  width: 2rem;
  height: 2rem;
  position: relative;
  transition: 0.2s ease-in-out;
}

.nav__socialMediaIcon:hover {
  width: 2.5rem;
  height: 2.5rem;
}

.nav__socialMediaWrapper {
  display: flex;
  align-items: center;
  flex-direction: column;
  flex: 1;
}

@media (max-width: 800px) {
  .nav {
    display: flex;
    justify-content: space-around;
  }
  .nav__logo {
    margin-left: 0;
  }
}

/* Burger menu mobile */

.bm-burger-bars {
  background: white;
}

.bm-overlay {
  margin-top: 5rem;
  background: rgba(0, 0, 0, 0.9) none repeat scroll 0% 0% !important;
  left: 11rem;
}

.bm-menu-wrap {
  margin-top: 7rem;
  font-size: 1em;
  left: 12rem;
}

.bm-menu {
  padding-left: 1rem;
  padding-right: 1rem;
  color: var(--color-red);
}

.bm-item {
  font-size: 1.5rem;
  margin-bottom: 0.5rem;
}

.bm-burger-button {
  width: 36px;
  height: 30px;
  left: 36px;
  top: 36px;
}
