.products {
  display: flex;
  justify-content: center;
  width: 100%;
  background-color: black;
  scroll-margin-top: 8rem;
}

.products__wrapper {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-evenly;
  width: 1400px;
  padding: 10rem 0;
  gap: 2rem;
}

.products__tile {
  display: flex;
  flex-flow: column;
  max-width: 350px;
  width: 90%;
  background-color: #fff;
}

.productsTile__content {
  display: flex;
  flex-flow: column;
  align-items: flex-start;
  padding: 1.5rem 1rem;
}

.productsTile__title {
  font-weight: bold;
  font-size: 24px;
}

.productsTile__button {
  margin-top: 2rem;
  align-self: center;
}

.productsTile__image {
  display: flex;
  flex-flow: column;
  height: 250px;
  position: relative;
}

@media (max-width: 800px) {
  .products__wrapper {
    padding: 1rem 0;
  }
}
