.realizations {
  display: flex;
  justify-content: center;
  width: 100%;
  background-color: black;
  color: white;
}

.realizations__container {
  max-width: 1290px;
  margin-top: 3rem;
  margin-bottom: 3rem;
}

.realizations__cardContainer {
  padding-left: 2rem;
  padding-right: 2rem;
}

.realizations__card {
  display: flex !important;
  padding-left: 7rem;
  padding-right: 7rem;
}

.realizations__cardLeft {
  flex: 5;
  background-color: white;
  color: black;
  text-align: start;
  padding: 2rem;
}

.realizations__cardRight {
  position: relative;
  min-height: 10rem;
  flex: 6;
  background-color: grey;
}

.realizations__header {
  font-size: 1.5rem;
  font-weight: 600;
  margin-bottom: 1rem;
}

@media (max-width: 800px) {
  .realizations {
    display: block;
    padding-top: 3rem;
    padding-bottom: 3rem;
  }

  .realizations__cardContainer {
    padding-left: 3rem;
    padding-right: 3rem;
  }

  .realizations__card {
    flex-direction: column;
    padding-left: 1rem;
    padding-right: 1rem;
  }

  .realizations__cardLeft {
    padding: 1rem;
  }
}
