.realizations {
  width: 100%;
  display: flex;
  justify-content: center;
  background-color: black;
  color: white;
}

.realizations__container {
  max-width: 1290px;
  margin-top: 3rem;
  margin-bottom: 3rem;
}

.realizations__box {
  width: 1290px;
}

@media (max-width: 800px) {
  .realizations__box {
    width: auto;
  }
}
