.nav {
  background-color: black;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

/* &__activeLink {
  @apply bg-red-800
    h-24
    mb-6
    px-12
    flex
    items-end;
}

&__link {
  margin-right: 2rem;
}

&__list {
  display: flex;
  flex: 7;
  justify-content: flex-end;
}

&__logo {
  @apply w-56
  h-28
  ml-12
  relative;
  flex: 1;
}

&__socialMediaIcon {
  width: 1rem;
  height: 1rem;
  background-color: white;
}

&__socialMediaWrapper {
  display: flex;
  align-items: center;
  flex-direction: column;
  flex: 1;
}
} */
